<table>
    <thead>
        <tr>
            <th>Feature</th>
            <th>Description</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for feature, status in feature_list %}
            <tr>
                <td>{{ feature.name }}</td>
                <td>{{ feature.description|safe }}</td>
                <td>
                    {% if status.site %}
                        <strong>ON</strong>:&nbsp;site-wide
                    {% else %}
                        {% if status.session %}
                            <strong>ON</strong>:&nbsp;this&nbsp;session&nbsp;only
                        {% else %}
                            Off:&nbsp;<a href="?session_enable_{{ feature.name }}">enable now</a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="2">&nbsp;</td>
            <td>
                Want&nbsp;to&nbsp;start&nbsp;over?
                <a href="?session_clear_features">Turn&nbsp;all&nbsp;features&nbsp;off</a>
            </td>
        </tr>
    </tbody>
</table>