{% extends "dregni/base.html" %}

{% load breadcrumbs %}
{% load comments %}
{% load group_tags %}
{% load i18n %}
{% load iris_tags %}
{% load markup_tags %}
{% load queryset_tags %}
{% load sw_tags %}
{% load team_tags %}

{% block title %}{{ event.title }} - {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb event.title './' %}
{% endblock %}

{% block body %}

    <h1>{% spaceless %}
        <strong>{{ event.title }}</strong>
        <br>
        <span class="time">
            {{ event.start_date }}
            {% if event.start_time %}
                @ {{ event.start_time }}
            {% endif %}
            {% if event.end_date or event.end_time %}
                to
                {% if event.end_date %}
                    {{ event.end_date }}
                    {% if event.end_time %}
                        @
                    {% endif %}
                {% endif %}
                {% if event.end_time %}
                    {{ event.end_time }}
                {% endif %}
            {% endif %}
        </span>
    {% endspaceless %}</h1>

    {% if event.description %}
        <div class="description">
            {{ event.description|wikify_creole_links:event.group|apply_markup:"creole" }}
        </div>
    {% endif %}

    {# Deprecating built-in comments in favor of discussions. #}
    {# Only show comments when they exist. #}

    {% get_comment_count for event as comment_count %}
    {% if comment_count %}
        <h1>Comments</h1>
        {% render_comment_list for event %}
    {# {% else %} #}
    {#     <p>Be the first to comment on this event.</p> #}
    {% endif %}

    {# {% with event.get_absolute_url as next %} #}
    {#     {% render_comment_form for event %} #}
    {# {% endwith %} #}

    <h1>Topics about this event</h1>

    {% with event|topicsjoined as topics_list %}
    {% with topics_list|qslimit:5 as topics_list %}
        <ul class="stream">
            {% for topic in topics_list.reverse %}
                {% include "iris/topic_summary.html" %}
            {% endfor %}
        </ul>
    {% endwith %}
    {% endwith %}

    <ul>
        <li><a href="{% url team_event_topics slug=group.slug event_id=event.id %}">{% trans "All topics for this event" %} &rarr;</a></li>
        {% if user|ismemberofgroup:group %}
            <li>
                Create a new topic:

                <form class="topic_create uniForm" action="{% url team_event_topic_create slug=group.slug event_id=event.id %}?team={{ group.slug }}" method="post" accept-charset="utf-8">
                    {% csrf_token %}
                    <fieldset class="inlineLabels">
                        {% include "iris/topic_create_form_contents.html" %}
                    </fieldset>
                </form>
            </li>
        {% endif %}
    </ul>
{% endblock %}


{% block sidebar_sections %}
    {% if group.is_private and user|ismemberofgroup:group or user|iscoordinatorofteam:group or user.is_staff %}
        <div class="section">
            <h1>Actions</h1>

            <ul>
                <li><a href="{% groupurl dregni_event_edit group event_id=event.id %}">Edit this event</a></li>
                <li><a href="{% groupurl dregni_event_delete group event_id=event.id %}">Delete this event</a></li>
            </ul>

            <ul>
                <li><a href="{% groupurl dregni_event_create group %}">Create a new event</a></li>
            </ul>
        </div>
    {% endif %}

    {{ block.super }}
{% endblock %}