<li class="event summary">
    <span class="time">{% spaceless %}
        {% if not hide_date %}{{ event.start_date }}{% if event.start_time %},{% endif %}{% endif %}
        {% if event.start_time %}
            {{ event.start_time }}
        {% endif %}
        {% if event.end_date or event.end_time %}
            to
            {% if event.end_date %}
                {{ event.end_date }}
                {% if event.end_time %}
                    @
                {% endif %}
            {% endif %}
            {% if event.end_time %}
                {{ event.end_time }}
            {% endif %}
        {% endif %}
    {% endspaceless %}</span> &mdash;
    <span class="action-object"><a href="{{ event.get_absolute_url }}">{{ event.title }}</a></span>
    {% with event.group as content %}
        {% if content %}
            {# @@@ Wrong css class #}
            <span class="timestamp">in {% include "iris/content_link.html" %}
        {% endif %}
    {% endwith %}
</li>
