{% extends "dregni/base_fullwidth.html" %}

{% load group_tags %}
{% load team_tags %}

{% block title %}Calendar - {{block.super}}{% endblock %}

{% block body %}

    <h1>Calendar for <strong>{{ group.name }}</strong></h1>

    {% if group.is_private and user|ismemberofgroup:group or user|iscoordinatorofteam:group %}
        <ul>
            <li><a href="{% groupurl dregni_event_create group %}">Create a new event</a></li>
        </ul>
    {% endif %}

    {% if weeks %}
        {% include "dregni/weeks_calendar.html" %}
    {% endif %}

{% endblock %}
