{% extends "base_hq_12.html" %}

{% load breadcrumbs feature_tag %}
{% load events %}
{% load pagination_tags %}
{% load group_tags %}
{% load queryset_tags %}
{% load wakacms_tags %}

{% block page_title %}HQ{% endblock %}

{% block body_class %}{{ block.super }} events-section{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb 'Upcoming events' './' %}
{% endblock %}

{% block content_body %}

    {% if request.GET.teams %}
        <h1>Upcoming events in your teams</h1>

        <ul>
            <li><a href="{% url dashboard_events %}">Campaign-wide calendar &rarr;</a></li>
        </ul>
    {% else %}
        <h1>Upcoming events campaign-wide</h1>

        <ul>
            <li><a href="{% url dashboard_events %}?teams=1">My teams only &rarr;</a></li>
        </ul>
    {% endif %}

    {% include "dregni/weeks_calendar.html" %}

{% endblock %}
