{% load events %}
{% load queryset_tags %}

<h1><a href="{% url dashboard_events %}">Upcoming events</a></h1>

{% with events|upcomingevents|qslimit:10 as events %}
    {% if events %}
        <ul class="stream">
            {% for event in events %}
                {% include "dregni/event_summary_dashboard.html" %}
            {% endfor %}
        </ul>
    {% else %}
        <p>No upcoming events.</p>
    {% endif %}
{% endwith %}

<ul>
    <li><a href="{% url dashboard_events %}">Full calendar &rarr;</a></li>
    <li><a href="{% url dashboard_events %}?teams=1">My teams only &rarr;</a></li>
</ul>
