{% extends "base_hq_12.html" %}

{% load breadcrumbs feature_tag %}
{% load group_tags %}
{% load wakacms_tags %}

{% block page_title %}HQ{% endblock %}

{% block body_class %}{{ block.super }} hq-section{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
{% endblock %}

{% block content_body %}

    {% wikipagesnippet DashboardPreamble latest %}

    <div class="alpha grid_4">
        {% if request.GET.teamsontop %}     {# @@@ temporary #}
            {% include "sidebars/yourteams.html" %}
        {% endif %}

        {% with 1 as is_me %}
        {% with user as page_user %}
            {% include "sidebars/friends.html" %}
        {% endwith %}
        {% endwith %}

        {% if not request.GET.teamsontop %}     {# @@@ temporary #}
            {% include "sidebars/yourteams.html" %}
        {% endif %}
    </div>

    <div class="grid_4">
        {% include "dashboard/actions_inline.html" %}
    </div>

    <div class="grid_4 omega">
        {% include "dashboard/events_inline.html" %}
        {% include "dashboard/topics_inline.html" %}
    </div>

    <div class="clear"></div>

{% endblock %}
