{% extends "base.html" %}

{% load pagination_tags %}

{% block page_title %}Your Sensible Washington{% endblock %}

{% block team_header %}
    <div id="team-header" class="grid_12 alpha omega">
        <h1>Your Volunteer Dashboard</h1>
    </div>
{% endblock %}

{% block content_body %}
    <h1>Recent Activity in Your Teams</h1>

    {% autopaginate team_actions %}

    <ul class="stream">
        {% for action in team_actions %}
            <li class="event">
                {% include "activity/action.html" %}
            </li>
        {% endfor %}
    </ul>

    {% paginate %}

{% endblock %}

{% block sidebar_sections %}
    {% include "sidebars/yourteams.html" %}
{% endblock %}
