{% extends "base_hq_12.html" %}

{% load breadcrumbs feature_tag %}
{% load events %}
{% load group_tags %}
{% load queryset_tags %}
{% load wakacms_tags %}

{% block page_title %}HQ{% endblock %}

{% block body_class %}{{ block.super }} hq-section{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
{% endblock %}

{% block content_body %}

    {% wikipagesnippet DashboardPreamble latest %}

    <div class="alpha grid_4">
        <h1><a href="{% url dashboard_topics %}">Latest topics</a></h1>

        {% if team_topics %}
            <ul class="stream">
                {% for topic in team_topics|qslimit:20 %}
                    {% include "iris/topic_summary.html" %}
                {% endfor %}
            </ul>
        {% else %}
            <p>No topics.</p>
        {% endif %}

        <ul>
            <li><a href="{% url dashboard_topics %}">More topics &rarr;</a></li>
        </ul>
    </div>

    <div class="grid_4">
        <h1><a href="{% url dashboard_events %}">Upcoming events</a></h1>

        {% if team_events %}
            <ul class="stream">
                {% for event in team_events|upcomingevents|qslimit:20 %}
                    {% include "dregni/event_summary_dashboard.html" %}
                {% endfor %}
            </ul>
        {% else %}
            <p>No upcoming events.</p>
        {% endif %}

        <ul>
            <li><a href="{% url dashboard_events %}">Event calendar &rarr;</a></li>
        </ul>
    </div>

    <div class="grid_4 omega">
        {% include "sidebars/yourteams.html" %}

        <h1><a href="{% url dashboard_actions %}">Recent activity</a></h1>

        {% if team_actions %}
            <ul class="stream">
                {% for action in team_actions|qslimit:10 %}
                    <li class="event">
                        {% include "activity/action.html" %}
                    </li>
                {% endfor %}
            </ul>

            <ul>
                <li><a href="{% url dashboard_actions %}">More activity &rarr;</a></li>
            </ul>
        {% else %}
            (No activity)
        {% endif %}
    </div>

    <div class="clear"></div>

{% endblock %}

{% block sidebar_sections %}
    {% include "sidebars/yourteams.html" %}
{% endblock %}
