{% extends "base_hq_12.html" %}

{% load breadcrumbs feature_tag %}
{% load events %}
{% load pagination_tags %}
{% load group_tags %}
{% load queryset_tags %}
{% load wakacms_tags %}

{% block page_title %}HQ{% endblock %}

{% block body_class %}{{ block.super }} hq-section{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb 'Latest topics' './' %}
{% endblock %}

{% block content_body %}

    <h1>Latest topics in your teams</h1>

    {% if object_list %}
        {% autopaginate object_list %}
        <ul class="stream">
            {% for topic in object_list %}
                {% include "iris/topic_summary.html" %}
            {% endfor %}
        </ul>
        {% paginate %}
    {% else %}
        <p>No topics.</p>
    {% endif %}

{% endblock %}
