{% extends "sw/placeholders/base.html" %}

{% load breadcrumbs %}
{% load group_tags %}

{% block body_class %}{{ block.super }} support-section{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb 'Support' %}
{% endblock %}

{% block body %}
    {% if wakacms_snippets.VolunteerSupport.latest %}
        {% with wakacms_snippets.VolunteerSupport.latest as snippet %}
            {% include "wakacmsplugin/wikipagesnippet.html" %}
        {% endwith %}
    {% else %}
        {% if is_wakacms_team_member %}
            <p>WARNING: No <a href="{% groupurl wakawaka_page wakacms_snippetgroup slug='VolunteerSupport' %}">wiki page</a>.</p>
        {% endif %}
    {% endif %}
{% endblock %}
