{% extends "socialaccount/base.html" %}

{% load breadcrumbs feature_tag %}
{% load i18n %}

{% block head_title %}{% trans "Social Network Login Failure" %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb 'Login Failure' %}
{% endblock %}

{% block body %}
    {% feature breadcrumbs %}{% disabled %}
        <h1>{% trans "Social Network Login Failure" %}</h1>
    {% endfeature %}

    <p>{% trans "An error occured while attempting to login via your social network account." %}</p>
{% endblock %}
