<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>{% block title %}{% endblock %}{% block title_default %} | DjangoVoice{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" type="image/png" href="{{ MEDIA_URL }}djangovoice/images/favicon.png" />
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}djangovoice/css/djangovoice.css" />
    {% block script_base %}{% endblock %}
    {% block script %}{% endblock %}
    {# Google Analytics tracking #}
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-15636009-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    {# /Google #}
</head>
<body id="{% block sectionid %}generic{% endblock %}">

{% block body %}{% endblock %}

{# Clicky analytics #}
<script type="text/javascript">
var clicky = { log: function(){ return; }, goal: function(){ return; }};
var clicky_site_id = 66349596;
(function() {
  var s = document.createElement('script');
  s.type = 'text/javascript';
  s.async = true;
  s.src = ( document.location.protocol == 'https:' ? 'https://static.getclicky.com/js' : 'http://static.getclicky.com/js' );
  ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
})();
</script>
<a title="Real Time Web Analytics" href="http://getclicky.com/66349596"></a>
<noscript><p><img alt="Clicky" width="1" height="1" src="http://in.getclicky.com/66349596ns.gif" /></p></noscript>
{# /Clicky #}

</body>
</html>
