# Base django
Django==1.2.4

# Admin
Fabric==0.9.2
Paver==1.0.3

# Bunched together (for now)
SQLAlchemy==0.6.4
South==0.7.2
amqplib==0.6.1
anyjson==0.2.5
carrot==0.10.7
celery==2.1.1
django-celery==2.1.1
django-filter==0.5.3
django-picklefield==0.1.6
django-piston==0.2.2
django-profiles==0.2
django-registration==0.7
django-staticfiles==0.3.2
django-unittest-depth==0.6
gunicorn>=0.11,<0.12
importlib==1.0.2
ipython==0.10
meld3==0.6.7
odict==1.3.2
-e git+https://github.com/gldnspud/paramiko.git@sw#egg=paramiko
psycopg2==2.2.2
pycrypto==2.0.1
pyparsing==1.5.5
-e git+https://github.com/snswa/python-dateutil.git@93f2157fc38500dc73d4#egg=python-dateutil
supervisor==3.0a9
twill==0.9
wsgiref==0.1.2

# used across apps
django-pagination==1.0.7

# Sentry
django-sentry==1.3.13
django-paging==0.2.2
django-indexer==0.2
django-templatetag-sugar==0.1

# Django-CMS
-e git+https://github.com/snswa/django-cms.git@2.1.0.rc1#egg=django-cms
django-reversion==1.3.2
PIL==1.1.7

# Allauth
-e git+https://github.com/snswa/django-allauth.git@453273c#egg=django-allauth
httplib2==0.6.0
oauth2==1.2.0
python-openid==2.2.5
django-uni-form==0.7.0
-e git+https://github.com/facebook/python-sdk.git#egg=facebook-sdk
-e git+https://github.com/snswa/django-email-confirmation.git@a7420f2#egg=django-email-confirmation

# Postmark
-e git+https://github.com/gldnspud/python-postmark.git@b8f4d8f717d71607d84f70dde544c36e392225f6#egg=python-postmark

# Wakawaka
-e git+https://github.com/snswa/django-wakawaka.git@450ba1d#egg=django-wakawaka
django-markup==0.3

# Voice
-e git+https://github.com/snswa/django-voice.git@303d54b2c1ef23c27a349ad1acd8b6e04a3c02bb#egg=django-voice
-e svn+http://django-gravatar.googlecode.com/svn/trunk@13#egg=django-gravatar
# also: django-voting

# Haystack
-e git+https://github.com/toastdriven/django-haystack.git@c5f8f1a5a063d3781009dd4b9cb993685805705a#egg=django-haystack
pysolr==2.0.13

# Idios
-e git+https://github.com/snswa/idios.git@a7bff188b53388b47a204a7992d9a23907ae714a#egg=idios

# Teams
-e git+https://github.com/snswa/django-teams.git@9f562af#egg=django-teams
-e git+https://github.com/snswa/django-groups.git@6b16aed#egg=django-groups

# Activity stream
-e git+https://github.com/snswa/django-activity-stream.git@2f2b210#egg=django-activity-stream

# File attachments
django-attachments==0.3.1

# Voting
-e git+https://github.com/snswa/django-voting.git@5dcc830#egg=django-voting

# Feature Flipper
-e git+https://github.com/snswa/django-feature-flipper.git@a8bf9ab#egg=django-feature-flipper

# Feature Labs
-e git+https://github.com/snswa/django-feature-labs.git@822c3ea#egg=django-feature-labs

# Planet
-e git+https://github.com/snswa/django-planet.git@e6c2685#egg=django-planet
-e git+https://github.com/brosner/django-atompub.git@23efd7e#egg=django-atompub
feedparser==4.1

# Friends
-e git+https://github.com/snswa/django-relationships.git@d29a0ba#egg=django-relationships

# Calendar
-e git+https://github.com/snswa/dregni.git@65667e4#egg=dregni
vobject==0.8.1c
