<div class="section">
    <h1>More Teams</h1>

    <ul>
        <li><a href="{% url teams_index %}">« All Teams</a></li>
        {% for parent in group.parents %}
            <li><a href="{% url teams_team slug=parent.slug %}">« {{ parent.name }}</a></li>
        {% endfor %}
        <li><strong>{{ group.name }}</strong> (you are here)</li>
        {% for child in group.children %}
            <li><a href="{% url teams_team slug=child.slug %}">{{ child.name }} »</a></li>
        {% endfor %}
    </ul>
</div>
