<div class="section">
    <div id="team-membership">
        {% if is_team_member %}
            You are a member of this team.

            <form action="{% url teams_membership slug=group.slug %}" method="post" accept-charset="utf-8">
                {% csrf_token %}
                <br /><input type="submit" name="leave" value="Leave Team">
            </form>
        {% else %}
            {% if not group.is_private %}
                <form action="{% url teams_membership slug=group.slug %}" method="post" accept-charset="utf-8">
                    {% csrf_token %}
                    <br /><input type="submit" name="join" value="Join Team">
                </form>
            {% endif %}
        {% endif %}
    </div>
</div>
