<!DOCTYPE HTML>
{% with now|date:"Y-m-d H:i:s" as now %}
<html>
    <head>
        <title>Sensible Washington Report -- All Volunteers -- {{ now }}</title>
    </head>
    <body>
        <h1>Sensible Washington Report -- All Volunteers</h1>

        <h2>Prepared for {{ user.get_profile }} ({{ user.username }}) on {{ now }}</h2>

        <p>
            Note: This information is considered confidential.  Please respect users
            privacy preferences when sharing information with others.  DO NOT SHARE
            THIS ENTIRE REPORT with others; if they need the entire report, they should
            access to this web page directly after gaining staff privileges.
        </p>

        {% if request.GET.excel != '1' %}
            <p><a href="./?excel=1">Open using Excel</a></p>
        {% endif %}

        <p>
            Total: {{ user_list|length }} user accounts
        </p>

        <table border="1" cellspacing="5" cellpadding="5">
            <thead>
                <tr>
                    <th>Last name</th>
                    <th>First name</th>
                    <th>Username</th>
                    <th>Preferred name</th>
                    <th>Verified emails</th>
                    <th>ZIP</th>
                    <th>Bio</th>
                    <th>Teams</th>
                    <th>Interests</th>
                    <th>Preferred Method</th>
                    <th>Phone number</th>
                    <th>Text OK?</th>
                    <th>Yahoo</th>
                    <th>AIM</th>
                    <th>MSN</th>
                    <th>Skype</th>
                    <th>Joined</th>
                </tr>
            </thead>
            <tbody>
                {% for u in user_list %}
                    {% with u.get_profile as p %}
                        <tr>
                            <td>{{ p.last_name }}</td>
                            <td>{{ p.first_name }}</td>
                            <td>{{ u.username }}</td>
                            <td>{{ p.preferred_name }}</td>
                            <td>
                                {% for emailaddress in u.emailaddress_set.all %}
                                    <a href="mailto:{{ emailaddress.email }}">{{ emailaddress.email }}</a>{% if not forloop.last %}; {% endif %}
                                {% endfor %}
                            </td>
                            <td>{{ p.zip_code }}</td>
                            <td>{{ p.bio }}</td>
                            <td>
                                {% for member in u.member_set.all %}
                                    {{ member.team.name }}{% if member.is_coordinator %} (coordinator){% endif %}{% if not forloop.last %}; {% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                {% for interest in p.interests.all %}
                                    {{ interest.name }}{% if not forloop.last %}; {% endif %}
                                {% endfor %}
                            </td>
                            <td>{{ p.preferred_contact_methods }}</td>
                            <td>{{ p.phone_number }}</td>
                            <td>{{ p.phone_number_accepts_texts }}</td>
                            <td>{{ p.yahoo_messenger }}</td>
                            <td>{{ p.aim }}</td>
                            <td>{{ p.msn_messenger }}</td>
                            <td>{{ p.skype }}</td>
                            <td>{{ u.date_joined|date:"Y-m-d H:i:s" }}</td>
                        </tr>
                    {% endwith %}
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>
{% endwith %}
