{% extends "base.html" %}
{% load cms_tags %}
{% load feature_tag %}
{% load menu_tags %}

{% block page_title %}{% page_attribute "page_title" %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% show_breadcrumb %}
{% endblock %}

{% block content_wrapper %}
    <div id="content" class="alpha omega grid_12">
        {% include "site_messages.html" %}
        <div class="section">
            {% feature breadcrumbs %}{% disabled %}
            <h1>{% page_attribute "page_title" %}</h1>
            {% endfeature %}

            {% placeholder "content" %}
        </div>
    </div>
{% endblock %}

{% block sidebar %}
{% endblock %}
