{% if user.is_authenticated %}
    {% with request.missing_info as missing %}
        {% if missing.email and not request.GET.gather_profile and not email_address %}
            <div>
                {% if request.GET.gather_email %}
                    <p>Please verify an email address to continue.</p>

                    <p>If you are still seeing this message, please check your email
                    and click on the link in the email we sent.</p>

                    <p>You may need to check your "Spam" or "Junk" folder if you
                    don't receive an email. You can re-send a confirmation below.</p>
                {% else %}
                    <p>Please <a href="{% url account_email %}">verify an email address</a>.
                    (If you are still seeing this message,
                    be sure to verify your email address it by clicking on the link in the
                    email we sent.)</p>
                {% endif %}
            </div>
        {% endif %}

        {% if missing.preferred_name and not request.GET.gather_email %}
            <div>
                {% if request.GET.gather_profile %}
                    <p>Please provide a preferred name below, then save your profile to continue.</p>
                {% else %}
                    <p>Please <a href="{% url profile_edit %}">edit your profile</a> and
                    provide a preferred name.</p>
                {% endif %}
            </div>
        {% endif %}

        {% if missing.zip_code and not request.GET.gather_email %}
            <div>
                {% if request.GET.gather_profile %}
                    <p>Please provide your ZIP code or location below, then save your profile to continue.</p>
                {% else %}
                    <p>Please <a href="{% url profile_edit %}">edit your profile</a> and
                    provide a ZIP code.</p>
                {% endif %}
            </div>
        {% endif %}
    {% endwith %}
{% endif %}
