{% extends "wakawaka/base.html" %}

{% load wakawaka_tags %}
{% load wakacms_tags %}
{% load i18n %}

{% block extrahead %}
	{{ block.super }}

	{# Don't let search engines scan this old revision #}
	{% if rev.is_not_current %}
		<meta name="robots" content="noindex" />
	{% endif %}

	{# Add support for the Universal Edit Button #}
	{% if perms.wakawaka.change_wikipage %}
	<link rel="edit" title="{% trans "Edit this page" %}" href="{% url wakawaka_edit slug=page.slug %}" />
	{% endif %}
{% endblock %}

{% block title %}
	{{ page.slug }}
{% endblock %}

{% block content %}
	<h1><a name="top" href="{% url wakawaka_page slug=page.slug %}">{{ page.slug }}</a></h1>

	{% if rev.is_not_current %}
	<p class="revert-warning">
		{% trans "You are viewing an older revision!" %}
		<a href="{% url wakawaka_page slug=page.slug %}">
		  {% trans "See the latest version" %}
		</a>
	</p>
	{% endif %}

	{% spaceless %}
	<div class="info">
	    <span>
	        {% trans "Revision" %} {{ rev.id }}.
        </span>
    	<span>
            {% trans "Recently modified by" %}
            <a href="{{ page.current.creator.get_absolute_url }}">{{ page.current.creator }}</a>: {{ rev.modified|date:_("DATETIME_FORMAT") }}
    		(<a href="{% url wakawaka_revision_list slug=page.slug %}">{% trans "History" %}</a>)
    	</span>

    	{% if perms.wakawaka.change_wikipage %}
    	<span>
    		<a href="{% url wakawaka_edit slug=page.slug %}">{% trans "Edit" %}</a>
    	</span>
    	{% endif %}
	</div>
	{% endspaceless %}

	<hr/>

	<div class="page">
        {% include "wakawaka/page_content.html" %}
	</div>

    <hr/>

    {% spaceless %}
    <div class="info">
        <span>
            <a href="#top">Back to top</a>.
        </span>
    	{% if perms.wakawaka.change_wikipage %}
    	<span>
    		<a href="{% url wakawaka_edit slug=page.slug %}">{% trans "Edit" %}</a>
    	</span>
    	{% endif %}
    </div>
    {% endspaceless %}

	{% spaceless %}
	<div class="related">
	    {% related_cms_pages %}
	</div>
	{% endspaceless %}
{% endblock %}