{% extends "iris/base.html" %}

{% load breadcrumbs %}
{% load i18n %}
{% load iris_tags %}

{% block title %}{% blocktrans with item_type_plugin.label as label %}Add {{ label }}{% endblocktrans %} - {{ topic.subject }} - {{ block.super }}{% endblock %}

{% block body_class %}item-add {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb topic.subject topic.get_absolute_url %}
    {% breadcrumb 'Add item' './' %}
{% endblock %}

{% block body %}
    <h1>{% trans item_type_plugin.action_label %}</h1>

    {% include item_type_plugin.add_template %}
{% endblock %}
