{% load iris_tags %}
{% load queryset_tags %}
<li class="event">
    {% with topic|participantsoftype:"teams.team" as team_participants %}
    {% with team_participants|length as team_participants_length %}
        <span class="action-object">{% spaceless %}
            {% if group.slug %}
                <a href="{{ topic.get_absolute_url }}?team={{ group.slug }}">{{ topic.subject }}</a>
            {% else %}
                {% if team_participants_length == 1 %}
                    <a href="{{ topic.get_absolute_url }}?team={{ team_participants.0.content.slug }}">{{ topic.subject }}</a>
                {% else %}
                    <a href="{{ topic.get_absolute_url }}">{{ topic.subject }}</a>
                {% endif %}
            {% endif %}
        {% endspaceless %}<span>
        <span class="timestamp">
            {{ topic.modified|timesince }} ago
            by
            <span class="target">
                {% with topic.items.latest.creator as content %}
                    {% include "iris/content_link.html" %}
                {% endwith %}
                {% if not group %}
                    {% if team_participants_length == 1 %}
                        <br>
                        in
                        {% with team_participants.0.content as content %}
                            {% include "iris/content_link.html" %}
                        {% endwith %}
                    {% endif %}
                    {% if team_participants_length > 1 %}
                        <br>in {{ length }} team{{ length|pluralize }}
                    {% endif %}
                {% endif %}
            </span>
        </span>
    {% endwith %}
    {% endwith %}
</li>
