/* http://colorschemedesigner.com/#3741Tw0sRw0w0 */
.icon-link {
  display: inline-block;
  height: 16px; }
  .icon-link a {
    margin: none;
    text-decoration: none !important; }
    .icon-link a span {
      text-decoration: none; }
    .icon-link a:hover {
      text-decoration: none !important; }
      .icon-link a:hover span {
        text-decoration: underline !important;
        padding-left: 16px !important; }
  .icon-link span {
    padding-left: 16px !important; }

.bullet_blue-link {
  background: transparent url("../icons/bullet_blue.png") left center no-repeat; }

.bullet_blue-link-hover:hover {
  background: transparent url("../icons/bullet_blue.png") left center no-repeat; }

.bullet_go-link {
  background: transparent url("../icons/bullet_go.png") left center no-repeat; }

.bullet_go-link-hover:hover {
  background: transparent url("../icons/bullet_go.png") left center no-repeat; }

.bullet_yellow-link {
  background: transparent url("../icons/bullet_yellow.png") left center no-repeat; }

.bullet_yellow-link-hover:hover {
  background: transparent url("../icons/bullet_yellow.png") left center no-repeat; }

.calendar-link {
  background: transparent url("../icons/calendar.png") left center no-repeat; }

.calendar-link-hover:hover {
  background: transparent url("../icons/calendar.png") left center no-repeat; }

.dregni-event-link {
  background: transparent url("../icons/calendar.png") left center no-repeat; }

.dregni-event-link-hover:hover {
  background: transparent url("../icons/calendar.png") left center no-repeat; }

.door_in-link {
  background: transparent url("../icons/door_in.png") left center no-repeat; }

.door_in-link-hover:hover {
  background: transparent url("../icons/door_in.png") left center no-repeat; }

.email_edit-link {
  background: transparent url("../icons/email_edit.png") left center no-repeat; }

.email_edit-link-hover:hover {
  background: transparent url("../icons/email_edit.png") left center no-repeat; }

.eye-link {
  background: transparent url("../icons/eye.png") left center no-repeat; }

.eye-link-hover:hover {
  background: transparent url("../icons/eye.png") left center no-repeat; }

.folder-link {
  background: transparent url("../icons/folder.png") left center no-repeat; }

.folder-link-hover:hover {
  background: transparent url("../icons/folder.png") left center no-repeat; }

.group-link {
  background: transparent url("../icons/group.png") left center no-repeat; }

.group-link-hover:hover {
  background: transparent url("../icons/group.png") left center no-repeat; }

.teams-team-link {
  background: transparent url("../icons/group.png") left center no-repeat; }

.teams-team-link-hover:hover {
  background: transparent url("../icons/group.png") left center no-repeat; }

.group_link-link {
  background: transparent url("../icons/group_link.png") left center no-repeat; }

.group_link-link-hover:hover {
  background: transparent url("../icons/group_link.png") left center no-repeat; }

.key-link {
  background: transparent url("../icons/key.png") left center no-repeat; }

.key-link-hover:hover {
  background: transparent url("../icons/key.png") left center no-repeat; }

.lightning-link {
  background: transparent url("../icons/lightning.png") left center no-repeat; }

.lightning-link-hover:hover {
  background: transparent url("../icons/lightning.png") left center no-repeat; }

.page-link {
  background: transparent url("../icons/page.png") left center no-repeat; }

.page-link-hover:hover {
  background: transparent url("../icons/page.png") left center no-repeat; }

.pencil-link {
  background: transparent url("../icons/pencil.png") left center no-repeat; }

.pencil-link-hover:hover {
  background: transparent url("../icons/pencil.png") left center no-repeat; }

.plugin-link {
  background: transparent url("../icons/plugin.png") left center no-repeat; }

.plugin-link-hover:hover {
  background: transparent url("../icons/plugin.png") left center no-repeat; }

.plugin_edit-link {
  background: transparent url("../icons/plugin_edit.png") left center no-repeat; }

.plugin_edit-link-hover:hover {
  background: transparent url("../icons/plugin_edit.png") left center no-repeat; }

.sw-link {
  background: transparent url("../icons/sw.png") left center no-repeat; }

.sw-link-hover:hover {
  background: transparent url("../icons/sw.png") left center no-repeat; }

.user_go-link {
  background: transparent url("../icons/user_go.png") left center no-repeat; }

.user_go-link-hover:hover {
  background: transparent url("../icons/user_go.png") left center no-repeat; }

.user_green-link {
  background: transparent url("../icons/user_green.png") left center no-repeat; }

.user_green-link-hover:hover {
  background: transparent url("../icons/user_green.png") left center no-repeat; }

.vcard-link {
  background: transparent url("../icons/vcard.png") left center no-repeat; }

.vcard-link-hover:hover {
  background: transparent url("../icons/vcard.png") left center no-repeat; }

.auth-user-link {
  background: transparent url("../icons/vcard.png") left center no-repeat; }

.auth-user-link-hover:hover {
  background: transparent url("../icons/vcard.png") left center no-repeat; }

.vcard_edit-link {
  background: transparent url("../icons/vcard_edit.png") left center no-repeat; }

.vcard_edit-link-hover:hover {
  background: transparent url("../icons/vcard_edit.png") left center no-repeat; }

body {
  position: relative;
  font-family: "Lucida Grande", "Verdana", "Arial", sans-serif; }

a {
  color: #0b4f96; }
  a:hover {
    color: black; }
  a span {
    text-decoration: underline; }

.hq a {
  color: #8a5300; }
  .hq a:hover {
    color: #0b4f96; }

table th {
  padding-left: .5em;
  padding-right: .5em;
  padding-top: .5em; }
table td {
  padding: .5em;
  border: 1px solid black; }

/* Don't place extra whitespace at bottom of lists-inside-lists */
li > ul {
  margin-bottom: 0; }

li {
  margin-left: 1.5em; }

div#user-bar {
  position: fixed;
  top: 0px;
  height: 22px;
  width: 960px;
  z-index: 1000;
  font-size: 14px;
  color: white;
  background-color: #0b4f96;
  border-bottom: 2px solid #57a3f3; }
  div#user-bar span + span {
    margin-left: 1em; }
  div#user-bar a {
    font-weight: bold;
    color: white;
    text-decoration: none; }
    div#user-bar a span {
      text-decoration: none; }
    div#user-bar a:hover {
      text-decoration: underline; }
  div#user-bar .left {
    position: absolute;
    float: left;
    padding-left: 10px; }
  div#user-bar .right {
    text-align: right;
    float: right;
    padding-right: 10px; }

.header {
  background-image: url("../images/logos/logo-246x140.gif");
  background-position: 5px;
  background-repeat: no-repeat;
  background-size: 246px 140px;
  position: relative;
  height: 140px;
  width: 960px;
  margin-left: 0px;
  margin-top: 32px;
  padding: 0px; }
  .header h1 a {
    display: block;
    height: 140px;
    text-indent: -9999px; }
  .header h2 {
    display: table-cell;
    width: 960px;
    text-align: center;
    position: absolute;
    height: 105px;
    top: 35px;
    margin: 0;
    z-index: -1; }

.hq .header {
  background-image: url("../images/logos/logo-123x70.gif");
  background-size: 123px 70px;
  height: 70px;
  margin-top: 32px; }
  .hq .header h1 a {
    height: 70px; }
  .hq .header h2 {
    top: 15px;
    height: 40px; }
    .hq .header h2 .beta {
      color: #009966; }

#site-search {
  position: absolute;
  top: 1.5em;
  right: 1.5em; }
  #site-search input {
    width: 200px;
    height: 1.5em; }

.hq #site-search {
  top: 20px; }

#follow-campaign {
  position: absolute;
  top: 55px;
  right: 20px;
  width: 200px;
  text-align: center;
  font-weight: bold; }
  #follow-campaign li {
    display: inline;
    margin-left: 0; }

.hq #follow-campaign {
  display: none; }

div#site-sections {
  height: 50px;
  max-height: 50px;
  margin: 10px 0px 0px 0px;
  padding: 0px;
  width: 960px;
  border-bottom: 2px solid #009966;
  font-weight: bold;
  font-size: larger; }
  div#site-sections ul {
    list-style-type: none;
    display: block;
    padding: 0;
    margin: 0;
    height: 50px;
    max-height: 50px; }
  div#site-sections li {
    display: block;
    float: left;
    text-align: center;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 160px;
    padding: 0; }
  div#site-sections a {
    display: block;
    float: left;
    height: 38px;
    padding-top: 12px;
    width: 100%;
    text-decoration: none;
    color: #006b47; }
    div#site-sections a span {
      text-decoration: none; }
    div#site-sections a:hover {
      color: white;
      background: #00b377; }
  div#site-sections .section-title {
    display: block; }
  div#site-sections .active .section-title {
    font-weight: bold; }
  div#site-sections .featured {
    color: black; }
  div#site-sections .featured .section-title {
    text-decoration: underline;
    font-weight: bold; }

.hq div#site-sections {
  border-color: #0b4f96;
  height: 35px;
  max-height: 35px; }
  .hq div#site-sections ul {
    height: 35px; }
  .hq div#site-sections a {
    height: 30px;
    padding-top: 5px;
    color: #08386b; }
    .hq div#site-sections a:hover {
      /*      color: white;*/
      background: #badafa; }

.hq.hq-section div#site-sections a#hq-link {
  background: #0b4f96;
  color: white; }

.hq.local-section div#site-sections a#local-link {
  background: #0b4f96;
  color: white; }

.hq.teams-section div#site-sections a#teams-link {
  background: #0b4f96;
  color: white; }

.hq.tools-section div#site-sections a#tools-link {
  background: #0b4f96;
  color: white; }

.hq.library-section div#site-sections a#library-link {
  background: #0b4f96;
  color: white; }

.hq.events-section div#site-sections a#events-link {
  background: #0b4f96;
  color: white; }

.public.home-section div#site-sections a#home-link {
  background: #009966;
  color: white; }

.public.why-legalize-section div#site-sections a#why-legalize-link {
  background: #009966;
  color: white; }

.public.endorsements-section div#site-sections a#endorsements-link {
  background: #009966;
  color: white; }

.public.ways-help-section div#site-sections a#ways-help-link {
  background: #009966;
  color: white; }

.public.donate-section div#site-sections a#donate-link {
  background: #009966;
  color: white; }

div#breadcrumbs {
  border-bottom: #009966 solid 2px;
  width: 950px;
  padding-left: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #009966;
  color: #42ffc0; }
  div#breadcrumbs a {
    color: #42ffc0; }
    div#breadcrumbs a:hover {
      text-decoration: underline; }
  div#breadcrumbs ul {
    display: inline;
    padding: 0;
    margin: 0 0 0 1em; }
    div#breadcrumbs ul li {
      display: inline;
      padding: 0;
      margin-left: 0; }
      div#breadcrumbs ul li + li:before {
        content: " » "; }
      div#breadcrumbs ul li:last-child {
        font-weight: bold;
        color: white; }
    div#breadcrumbs ul a {
      text-decoration: none; }
      div#breadcrumbs ul a span {
        text-decoration: none; }

.hq div#breadcrumbs {
  background-color: #0b4f96;
  border-color: #57a3f3;
  color: #90c2f7; }
  .hq div#breadcrumbs a {
    color: #90c2f7; }
  .hq div#breadcrumbs ul li:last-child a {
    color: white; }

div#content {
  margin-top: 10px; }
  div#content h1, div#content h2, div#content h3, div#content h4, div#content h5, div#content h6 {
    color: #06294f; }
    div#content h1 a, div#content h2 a, div#content h3 a, div#content h4 a, div#content h5 a, div#content h6 a {
      text-decoration: none;
      color: #06294f; }
  div#content h1 {
    border-bottom: 2px solid #06294f;
    padding: 0 10px 0 10px;
    font-size: 16pt;
    font-weight: normal; }
  div#content h2 {
    font-size: 14pt; }

.hq div#content h1, .hq div#content h2, .hq div#content h3, .hq div#content h4, .hq div#content h5, .hq div#content h6 {
  color: #003322; }
  .hq div#content h1 a, .hq div#content h2 a, .hq div#content h3 a, .hq div#content h4 a, .hq div#content h5 a, .hq div#content h6 a {
    color: #003322; }
.hq div#content h1 {
  border-bottom-color: #0b4f96;
  border-bottom-width: 3px;
  background-color: #bfdcfa; }
.hq div#content h2 {
  color: #083b70; }

div#sidebar {
  font-size: smaller; }
  div#sidebar .section {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    position: relative; }
  div#sidebar h1 {
    font-size: 14pt;
    font-weight: normal;
    margin-bottom: .5em;
    border-bottom: 2px solid #009966; }
    div#sidebar h1 a {
      text-decoration: none; }
  div#sidebar h2 {
    font-size: 12pt;
    margin-bottom: .5em; }
  div#sidebar ul {
    margin-bottom: .5em; }
  div#sidebar form {
    display: inline;
    /* @@@ This needs be more specific to the join/leave team form */
    margin: 0;
    padding: 0; }

.hq #sidebar .section {
  background: #ffebcc;
  border-left: 2px solid #b86e00; }
.hq #sidebar h1 {
  border-color: #0b4f96; }
.hq #sidebar .friends div.follow-status {
  margin-bottom: 1em; }

ul#site-messages {
  display: block;
  list-style: none outside none;
  position: fixed;
  z-index: 9999;
  top: 10px;
  margin-bottom: 0; }
  ul#site-messages li {
    display: block;
    background: #fff5e6;
    margin: 0 10px 15px 10px;
    padding: 10px;
    border-width: 1px 1px 3px 1px;
    border-color: #e68a00;
    border-style: solid; }

#footer {
  margin-top: 2em;
  border-top: 2px solid #009966; }
  #footer #footer-left {
    float: left; }
    #footer #footer-left span {
      padding-right: 1em; }
  #footer #footer-right {
    float: right; }
    #footer #footer-right span {
      padding-left: 1em; }
  #footer #actwithus-link {
    display: inline-block;
    background: transparent url("../images/logos/actwithus.png") left bottom no-repeat;
    background-size: 63px 16px;
    width: 63px;
    text-indent: -9999px; }

.object-command {
  color: silver;
  font-size: smaller; }

ul.stream {
  margin-bottom: 0px; }
  ul.stream li.event {
    padding-bottom: 1em; }
    ul.stream li.event span.timestamp {
      display: block;
      font-size: smaller;
      color: silver; }
      ul.stream li.event span.timestamp a {
        color: silver; }
    ul.stream li.event div.description {
      color: gray;
      margin-left: 1em;
      padding-left: 1em;
      padding-top: .25em;
      padding-bottom: .25em;
      border-left: 2px solid silver; }

ul.attachments li a.attachment {
  margin-right: 1.5em; }

form.add-attachment p {
  margin-top: 1em;
  margin-bottom: 0; }

div.comment {
  margin-bottom: 1.5em; }
  div.comment .comment-body {
    color: gray;
    margin-left: 1em;
    padding-left: 1em;
    padding-top: .25em;
    padding-bottom: .25em;
    border-left: 2px solid silver; }

.votes {
  margin-right: 1em; }
  .votes form {
    display: inline; }
  .votes .score {
    font-weight: bold; }

div#largepagepanel {
  margin-top: 30px;
  margin-bottom: 20px;
  background: #fff5e6;
  padding: 3em;
  border-width: 1px 1px 4px 1px;
  border-color: #e68a00;
  border-style: solid; }
  div#largepagepanel p:last-child {
    margin-bottom: 0; }
  div#largepagepanel h2 {
    margin-top: 15px;
    margin-bottom: 10px; }
    div#largepagepanel h2:first-child {
      margin-top: 0; }

.login #largepagepanel p, .login #largepagepanel h2 {
  text-align: center; }
.login #largepagepanel ul.socialaccount_providers {
  text-align: center; }

div.beta-annotation p {
  background: #fff5e6;
  margin: 1em;
  padding: 1em;
  border-width: 1px 1px 3px 1px;
  border-color: #e68a00;
  border-style: solid; }

.uniForm .focused {
  background: #fff5e6; }

.hq-signup #content {
  margin-top: 20px; }
  .hq-signup #content > div div.section {
    width: 436px;
    margin-bottom: 20px;
    padding-top: 1px;
    padding-bottom: 10px;
    background-color: #e5f1fd;
    border-color: #0b4f96;
    border-style: solid;
    border-radius: 0px;
    border-width: 1px 1px 3px 1px;
    padding-left: 10px;
    padding-right: 10px; }
    .hq-signup #content > div div.section h1 {
      display: block;
      text-align: center;
      background-color: white;
      color: #171717;
      margin-top: 10px;
      border-width: 1px 1px 2px 1px;
      border-style: solid;
      border-color: #0b4f96; }
.hq-signup ul.socialaccount_providers {
  text-align: center; }

ul.socialaccount_providers {
  display: block;
  list-decoration: none; }
  ul.socialaccount_providers li {
    margin: 0;
    display: inline; }
    ul.socialaccount_providers li a.socialaccount_provider {
      width: 48px;
      height: 48px;
      display: inline-block;
      overflow: hidden;
      vertical-align: middle;
      text-indent: -9000px; }
      ul.socialaccount_providers li a.socialaccount_provider.local {
        background: transparent url("../socialaccount/sw.png") left top no-repeat; }
      ul.socialaccount_providers li a.socialaccount_provider.google {
        background: transparent url("../socialaccount/google.png") left top no-repeat; }
      ul.socialaccount_providers li a.socialaccount_provider.twitter {
        background: transparent url("../socialaccount/twitter.png") left top no-repeat; }
      ul.socialaccount_providers li a.socialaccount_provider.facebook {
        background: transparent url("../socialaccount/facebook.png") left top no-repeat; }
      ul.socialaccount_providers li a.socialaccount_provider.yahoo {
        background: transparent url("../socialaccount/yahoo.png") left top no-repeat; }

.wakacms-highlighted {
  background: #badafa; }

.wakacms-links {
  background: #ffebcc; }
  .wakacms-links:hover {
    background: #ffc671; }

.team-tree > ul > li {
  list-style: none;
  margin-left: 0;
  margin-bottom: 10px;
  font-size: 130%; }
  .team-tree > ul > li > ul > li {
    font-size: 70%; }
.team-tree ul {
  margin-bottom: 0; }

#nags div {
  background: #ffff8a url("../icons/exclamation.png") left center no-repeat;
  background-position-x: 10px;
  border-width: 1px 1px 3px 1px;
  border-color: #757500;
  border-style: solid;
  padding: 10px 0px 10px 36px;
  margin: 10px 0 0 0; }
  #nags div p {
    margin-bottom: 10px; }
    #nags div p:last-child {
      margin-bottom: 0px; }

table.calendar {
  width: 100%; }
  table.calendar td {
    width: 12.5%; }
  table.calendar td.month-1.week, table.calendar td.month-3.week, table.calendar td.month-5.week, table.calendar td.month-7.week, table.calendar td.month-9.week, table.calendar td.month-11.week {
    font-weight: bold;
    color: #8a5300; }
  table.calendar td.month-1.day, table.calendar td.month-3.day, table.calendar td.month-5.day, table.calendar td.month-7.day, table.calendar td.month-9.day, table.calendar td.month-11.day {
    background-color: #ffebcc; }
  table.calendar td.month-2.week, table.calendar td.month-4.week, table.calendar td.month-6.week, table.calendar td.month-8.week, table.calendar td.month-10.week, table.calendar td.month-12.week {
    font-weight: bold;
    color: #0b4f96; }
  table.calendar td.month-2.day, table.calendar td.month-4.day, table.calendar td.month-6.day, table.calendar td.month-8.day, table.calendar td.month-10.day, table.calendar td.month-12.day {
    background-color: #d7e9fc; }
  table.calendar td.nav {
    text-align: center; }
  table.calendar td.today {
    background-color: white !important; }
  table.calendar .day .number {
    font-weight: bold; }
  table.calendar .day ul.events {
    font-size: smaller; }
    table.calendar .day ul.events li {
      list-style: none;
      margin-left: 0; }

.topic #items > ul {
  list-style: none;
  padding-left: 0; }
  .topic #items > ul li {
    margin-left: 0; }
.topic .item-type .form {
  display: none; }
.topic .item {
  position: relative;
  border-style: solid;
  border-color: lightgrey;
  border-width: 1px 1px 3px 1px;
  margin-bottom: 2.5em;
  padding: 10px; }
  .topic .item .timestamp {
    position: absolute;
    bottom: -1.5em;
    color: lightgrey; }
  .topic .item .items_after {
    display: none; }

.uniForm .ctrlHolder ul {
  display: block;
  width: 45%;
  float: left;
  list-decoration: none; }
  .uniForm .ctrlHolder ul li {
    display: block;
    margin-left: 0; }
    .uniForm .ctrlHolder ul li label {
      display: inline;
      float: none; }
