/* http://colorschemedesigner.com/#3741Tw0sRw0w0 */
body {
  position: relative;
  font-family: "Lucida Grande", "Verdana", "Arial", sans-serif; }

a {
  color: #0b4f96; }
  a:hover {
    color: black; }

.hq a {
  color: #8a5300; }
  .hq a:hover {
    color: #0b4f96; }

table th {
  padding-left: .5em;
  padding-right: .5em;
  padding-top: .5em; }
table td {
  padding: .5em;
  border: 1px solid black; }

#auth-bar {
  background-color: #0b4f96;
  font-size: 14px;
  width: 960px;
  border-bottom: 2px solid #57a3f3;
  position: relative;
  height: 22px;
  color: white; }
  #auth-bar span + span {
    margin-left: 1em; }
  #auth-bar a {
    font-weight: bold;
    padding: 4px;
    color: white;
    text-decoration: none; }
    #auth-bar a:hover {
      text-decoration: underline; }
  #auth-bar .left {
    position: absolute;
    float: left; }
  #auth-bar .right {
    text-align: right;
    float: right; }
  #auth-bar .icon-link a:hover {
    text-decoration: none; }
    #auth-bar .icon-link a:hover span {
      text-decoration: underline;
      padding-left: 16px; }
  #auth-bar .icon-link a span {
    padding-left: 16px; }
  #auth-bar #labs-link {
    background: transparent url("/media/featurelabs/lightning.png") left top no-repeat; }

.header {
  background-image: url("/media/images/logos/logo-246x140.gif");
  background-position: 5px;
  background-repeat: no-repeat;
  background-size: 246px 140px;
  width: 960px;
  height: 140px;
  margin-left: 0px;
  margin-top: 1em;
  padding: 0;
  position: relative; }
  .header h1 a {
    display: block;
    height: 140px;
    text-indent: -9999px; }
  .header h2 {
    display: table-cell;
    width: 960px;
    text-align: center;
    position: absolute;
    height: 105px;
    top: 35px;
    margin: 0; }

.hq .header {
  margin-top: .5em;
  background-image: url("/media/images/logos/logo-123x70.gif");
  background-size: 123px 70px;
  height: 70px; }
  .hq .header h1 a {
    height: 70px; }
  .hq .header h2 {
    top: 15px;
    height: 40px; }

#site-search {
  position: absolute;
  top: 1.5em;
  right: 1.5em; }
  #site-search input {
    width: 200px;
    height: 1.5em; }

.hq #site-search {
  top: 20px; }

#follow-campaign {
  position: absolute;
  top: 55px;
  right: 20px;
  width: 200px;
  text-align: center;
  font-weight: bold; }
  #follow-campaign li {
    display: inline;
    margin-left: 0; }

.hq #follow-campaign {
  display: none; }

div#site-sections {
  height: 50px;
  max-height: 50px;
  margin: 0px;
  padding: 0px;
  width: 960px;
  border-bottom: 2px solid #009966;
  font-weight: bold;
  font-size: larger; }
  div#site-sections ul {
    list-style-type: none;
    display: block;
    padding: 0;
    margin: 0;
    height: 50px;
    max-height: 50px; }
  div#site-sections li {
    display: block;
    float: left;
    text-align: center;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 160px;
    padding: 0; }
  div#site-sections a {
    display: block;
    float: left;
    height: 38px;
    padding-top: 12px;
    width: 100%;
    text-decoration: none;
    color: #006b47; }
    div#site-sections a:hover {
      color: white;
      background: #009966; }
  div#site-sections .section-title {
    display: block; }
  div#site-sections .active .section-title {
    font-weight: bold; }
  div#site-sections .featured {
    color: black; }
  div#site-sections .featured .section-title {
    text-decoration: underline;
    font-weight: bold; }

.hq div#site-sections {
  border-color: #0b4f96;
  height: 35px;
  max-height: 35px; }
  .hq div#site-sections ul {
    height: 35px;
    margin-top: 2px; }
  .hq div#site-sections a {
    height: 30px;
    padding-top: 5px;
    color: #08386b; }
    .hq div#site-sections a:hover {
      color: white;
      background: #0b4f96; }

.hq-section div#site-sections a#hq-link {
  background: #0b4f96;
  color: white; }

div#breadcrumbs {
  border-bottom: #009966 solid 2px;
  width: 950px;
  padding-left: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #009966;
  color: #42ffc0; }
  div#breadcrumbs a {
    color: #42ffc0; }
    div#breadcrumbs a:hover {
      text-decoration: underline; }
  div#breadcrumbs ul {
    display: inline;
    padding: 0;
    margin: 0 0 0 1em; }
    div#breadcrumbs ul li {
      display: inline;
      padding: 0;
      margin-left: 0; }
      div#breadcrumbs ul li + li:before {
        content: " » "; }
      div#breadcrumbs ul li:last-child {
        font-weight: bold;
        color: white; }
    div#breadcrumbs ul a {
      text-decoration: none; }

.hq div#breadcrumbs {
  background-color: #0b4f96;
  border-color: #57a3f3;
  color: #90c2f7; }
  .hq div#breadcrumbs a {
    color: #90c2f7; }
  .hq div#breadcrumbs ul li:last-child a {
    color: white; }

div#content {
  margin-top: 10px; }

div#sidebar {
  font-size: smaller; }
  div#sidebar .section {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    position: relative; }
  div#sidebar h1 {
    font-size: 14pt;
    margin-bottom: .5em;
    border-bottom: 2px solid #009966; }
  div#sidebar ul {
    margin-bottom: .5em; }
  div#sidebar form {
    display: inline;
    margin: 0;
    padding: 0; }
  div#sidebar div.more {
    text-align: right; }

.hq #sidebar .section {
  background: #ffebcc;
  border-left: 2px solid #b86e00; }
.hq #sidebar h1 {
  border-color: #0b4f96; }

ul#site-messages {
  list-style: none outside none;
  margin-bottom: 0; }
  ul#site-messages li {
    display: block;
    background: #fff5e6;
    margin: 0 10px 15px 10px;
    padding: 10px;
    border-width: 1px 1px 3px 1px;
    border-color: #e68a00;
    border-style: solid; }

div.footer {
  width: 960px;
  margin-top: 2em;
  border-top: 2px solid #009966; }
  div.footer span {
    padding-right: 1em; }

.object-command {
  color: silver;
  font-size: smaller; }

ul.stream li.event {
  padding-bottom: 1em; }
  ul.stream li.event span.timestamp {
    display: block;
    font-size: smaller;
    color: silver; }
  ul.stream li.event div.description {
    color: gray;
    margin-left: 1em;
    padding-left: 1em;
    padding-top: .25em;
    padding-bottom: .25em;
    border-left: 2px solid silver; }

ul.attachments li a.attachment {
  margin-right: 1.5em; }

form.add-attachment p {
  margin-top: 1em;
  margin-bottom: 0; }

div.comment {
  margin-bottom: 1.5em; }
  div.comment .comment-body {
    color: gray;
    margin-left: 1em;
    padding-left: 1em;
    padding-top: .25em;
    padding-bottom: .25em;
    border-left: 2px solid silver; }

.hq #team-header {
  display: table;
  top: 24px;
  left: 5px;
  height: 50px;
  max-height: 50px;
  margin-right: 0px;
  width: 960px;
  border-bottom: 2px solid #57a3f3;
  background-color: #0b4f96; }
  .hq #team-header a {
    color: white;
    text-decoration: none; }
    .hq #team-header a:hover {
      text-decoration: underline; }
  .hq #team-header h1 {
    text-align: center;
    color: white;
    margin-top: .1em;
    margin-bottom: .1em; }

.votes {
  margin-right: 1em; }
  .votes form {
    display: inline; }
  .votes .score {
    font-weight: bold; }

div#largepagepanel {
  margin-top: 30px;
  margin-bottom: 20px;
  background: #fff5e6;
  padding: 3em;
  border-width: 1px 1px 4px 1px;
  border-color: #e68a00;
  border-style: solid; }
  div#largepagepanel p:last-child {
    margin-bottom: 0; }
  div#largepagepanel h2 {
    margin-top: 15px;
    margin-bottom: 10px; }
    div#largepagepanel h2:first-child {
      margin-top: 0; }

.login #largepagepanel p, .login #largepagepanel h2 {
  text-align: center; }
.login #largepagepanel ul.socialaccount_providers {
  text-align: center; }

div.beta-annotation p {
  background: #fff5e6;
  margin: 1em;
  padding: 1em;
  border-width: 1px 1px 3px 1px;
  border-color: #e68a00;
  border-style: solid; }

.uniForm .focused {
  background: #fff5e6; }

.hq-signup #content {
  margin-top: 20px; }
  .hq-signup #content > div div.section {
    width: 436px;
    margin-bottom: 20px;
    padding-top: 1px;
    padding-bottom: 10px;
    background-color: #e5f1fd;
    border-color: #0b4f96;
    border-style: solid;
    border-radius: 0px;
    border-width: 1px 1px 3px 1px;
    padding-left: 10px;
    padding-right: 10px; }
    .hq-signup #content > div div.section h1 {
      display: block;
      text-align: center;
      background-color: white;
      color: #171717;
      margin-top: 10px; }
.hq-signup ul.socialaccount_providers {
  text-align: center; }

ul.socialaccount_providers {
  display: block;
  list-decoration: none; }
  ul.socialaccount_providers li {
    margin: 0;
    display: inline; }
    ul.socialaccount_providers li a.socialaccount_provider {
      width: 48px;
      height: 48px;
      display: inline-block;
      overflow: hidden;
      vertical-align: middle;
      text-indent: -9000px; }
      ul.socialaccount_providers li a.socialaccount_provider.local {
        background: transparent url("/media/socialaccount/sw.png") left top no-repeat; }
      ul.socialaccount_providers li a.socialaccount_provider.google {
        background: transparent url("/media/socialaccount/google.png") left top no-repeat; }
      ul.socialaccount_providers li a.socialaccount_provider.twitter {
        background: transparent url("/media/socialaccount/twitter.png") left top no-repeat; }
      ul.socialaccount_providers li a.socialaccount_provider.facebook {
        background: transparent url("/media/socialaccount/facebook.png") left top no-repeat; }
      ul.socialaccount_providers li a.socialaccount_provider.yahoo {
        background: transparent url("/media/socialaccount/yahoo.png") left top no-repeat; }

.wakacms-highlighted {
  background: #badafa; }

.wakacms-links {
  background: #ffebcc; }
  .wakacms-links:hover {
    background: #ffc671; }
