#wiki-info {
    padding: .5em;
    margin-top: 1em;
    margin-bottom: 1em;
    border: 2px solid #257329;
}

#wiki-info span {
    padding-left: 1em;
    padding-right: 1em;
}

textarea#id_content {
    width: 100%;
    height: 25em;
}

.info span {
    padding-right: 1em;
}