{% extends "teams/base.html" %}

{% load pagination_tags %}

{% block head_title %}Teams{% endblock %}

{% block body %}
    {% for grouping in groupings %}
        <h1>{{ grouping.name }}</h1>

        <ul>
            {% for team in grouping.teams.all %}
                <li><a href="{% url teams_team slug=team.slug %}">{{ team.name }}</a></li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}

{% block sidebar_sections %}
    {% include "sidebars/yourteams.html" %}
{% endblock %}
