{% extends "teams/base.html" %}

{% load breadcrumbs feature_tag %}
{% load feature_tag %}
{% load pagination_tags %}
{% load wakacms_tags %}

{% block head_title %}Teams{% endblock %}

{% block body_class %}{{ block.super }} hq-section{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb 'Teams' './' %}
{% endblock %}

{% block body %}

    {% wikipagesnippet AllTeamsListPreamble latest %}

    {% feature team_groupings %}

        <div class="team-tree">
            {% for tree_item in team_tree %}
                {% if tree_item == 'li' %}<li>{% endif %}
                {% if tree_item == '/li' %}</li>{% endif %}
                {% if tree_item == 'ul' %}<ul>{% endif %}
                {% if tree_item == '/ul' %}</ul>{% endif %}
                {% if tree_item.slug %}
                    <a href="{% url teams_team slug=tree_item.slug %}">{{ tree_item.name }}</a>
                {% endif %}
            {% endfor %}
        </div>

    {% disabled %}

    	<h1>All-volunteer Teams</h1>
        <ul>
            {% for team in public_teams %}
                <li>
                    <a href="{% url teams_team slug=team.slug %}">{{ team.name }}</a>
                </li>
            {% endfor %}
        </ul>

        <h1>By-invitation Teams</h1>
        <ul>
            {% for team in private_teams %}
                <li>
                    <a href="{% url teams_team slug=team.slug %}">{{ team.name }}</a>
                </li>
            {% endfor %}
        </ul>

    {% endfeature %}

{% endblock %}

{% block sidebar_sections %}
    {% include "sidebars/yourteams.html" %}
{% endblock %}
