{% extends "teams/base.html" %}

{% load breadcrumbs %}
{% load events %}
{% load feature_tag %}
{% load group_tags %}
{% load i18n %}
{% load iris_tags %}
{% load queryset_tags %}
{% load sw_tags %}
{% load team_tags %}

{% block head_title %}{{ group.name }}{% endblock %}

{% block body_class %}{{ block.super }} team-{{ group.slug }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% for parent in group.parents %}
        {% breadcrumb_url_css "icon-link group-link" parent.name teams_team_index slug=parent.slug %}
    {% endfor %}
    {% breadcrumb_css "icon-link group-link" group.name "./" %}
{% endblock %}


{% block body %}
    {% if group.is_private and not user|ismemberofgroup:group %}
        <p>This team is private.</p>
    {% else %}
        <div class="grid_4 alpha">
            <h1>Recent topics</h1>

            {% with group|topicsjoined as topics_list %}
            {% with topics_list|qslimit:5 as topics_list %}
                <ul>
                    {% for topic in topics_list.reverse %}
                        <li><a href="{{ topic.get_absolute_url }}?team={{ group.slug }}">{{ topic.subject }}</a></li>
                    {% endfor %}
                </ul>
            {% endwith %}
            {% endwith %}

            <ul>
                <li><a href="{% url team_topics slug=group.slug %}">{% trans "All team topics" %} &rarr;</a></li>
                {% if user|ismemberofgroup:group %}
                    <li><a href="{% url team_topics slug=group.slug %}">{% trans "Create a new topic" %} &rarr;</a></li>
                {% endif %}

            </ul>
        </div>

        <div class="grid_4 omega">
            <h1>Upcoming events</h1>

            {% content_objects group "dregni.Event" as events %}
            {% with events|qslimit:5 as events %}
                {% if events %}
                    <ul>
                        {% for event in events %}
                            <li>{% include "dregni/event_summary.html" %}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>{% trans "No upcoming events." %}</p>
                {% endif %}
            {% endwith %}

            <ul>
                <li><a href="{% groupurl dregni_index group %}">{% trans "View team calendar" %} &rarr;</a></li>
                {% if group.is_private and user|ismemberofgroup:group or user|iscoordinatorofteam:group %}
                    <li><a href="{% groupurl dregni_event_create group %}">{% trans "Create a new team event" %} &rarr;</a></li>
                {% endif %}
            </ul>
        </div>

        <div class="clear"></div>

        <h1>About the <strong>{{ group.name }}</strong> team</h1>

        {% if team_wiki_index_page %}
            {% with team_wiki_index_page.current as rev %}
                {% include "wakawaka/page_content.html" %}
            {% endwith %}
        {% endif %}

    {% endif %}
{% endblock %}

{% block sidebar_sections %}
    {% if user|ismemberofgroup:group or not group.is_private  %}

        {% include "sidebars/teamjoinleave.html" %}

        {% include "sidebars/teammembers.html" %}

        {% include "sidebars/teamrecentactions.html" %}

        {% include "sidebars/wikicommon.html" %}

        {% include "sidebars/moreteams.html" %}

    {% endif %}
{% endblock %}
