{% extends "teams/base.html" %}

{% load breadcrumbs feature_tag %}
{% load group_tags %}
{% load pagination_tags %}

{% block head_title %}{{ group.name }}{% endblock %}

{% block body_class %}{{ block.super }} team-{{ group.slug }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% for parent in group.parents %}
        {% breadcrumb_url_css "icon-link group-link" parent.name teams_team slug=parent.slug %}
    {% endfor %}
    {% breadcrumb_css "icon-link group-link" group.name "./" %}
{% endblock %}


{% block body %}
    {% if group.is_private and not is_team_member %}
        <p>This team is private.</p>
    {% else %}
        <h1>About the <strong>{{ group.name }}</strong> team</h1>

        {% if team_wiki_index_page %}
            {% with team_wiki_index_page.current as rev %}
                {% include "wakawaka/page_content.html" %}
            {% endwith %}
        {% endif %}

        <h1>Recent activity</h1>

        {% autopaginate team_actions %}

        <ul class="stream">
            {% for action in team_actions %}
                <li class="event">
                    {% include "activity/action.html" %}
                </li>
            {% endfor %}
        </ul>

        {% paginate %}
    {% endif %}
{% endblock %}

{% block sidebar_sections %}
    {% if is_team_member or not group.is_private  %}

        {% include "sidebars/moreteams.html" %}

        {% include "sidebars/teamjoinleave.html" %}

        {% include "sidebars/wikicommon.html" %}

        <div class="section">
            <h1>Members</h1>

            {% with group.member_set.all as memberships %}
                <ul>
                    {% for membership in memberships %}
                        <li>
                            <a href="{{ membership.user.get_absolute_url }}">{{ membership.user.get_profile }}</a>
                            {% if membership.is_coordinator %}
                                <span class="coordinator">(coordinator)</span>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endwith %}
        </div>

    {% endif %}
{% endblock %}
