{% extends "base_hq_6_6.html" %}

{% load breadcrumbs %}
{% load uni_form_tags %}

{% block body_class %}{{ block.super }} hq-signup{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb 'Sign In / Sign Up' %}
{% endblock %}

{% block content_left %}

    <div class="section">
        <h1>New Volunteer Sign Up</h1>

        <form class="login uniForm" method="POST" action="{% url sw_hq %}">
            {% csrf_token %}
            <fieldset class="inlineLabels">
                {{ signup_form|as_uni_form }}
                <div class="buttonHolder">
                    <button class="primaryAction" type="submit">{% trans "Sign Up" %}</button>
                </div>
            </fieldset>
        </form>
    </div>

{% endblock %}


{% block content_right %}

    <div class="section">
        <h1>Returning Volunteers</h1>

        {% with login_form as form %}
            {% include "account/login_form.html" %}
        {% endwith %}
    </div>

    <div class="section">
        <h1>Use a Third-Party Service</h1>

        <p>
            You can sign up and sign in to the Sensible Washington Volunteer HQ
            using another service to authenticate, instead of creating
            a new username and password here.
        </p>

        <p>
            Just click your favorite service below to get started.  Be sure to
            use the same service each time you sign in.
        </p>

        {% include "socialaccount/snippets/login_extra.html" %}

        <ul class="socialaccount_providers">
            {% include "socialaccount/snippets/provider_list.html" %}
        </ul>
    </div>

{% endblock %}
