{% extends "base_8_4.html" %}

{% block page_title %}Legalize It in 2011{% endblock %}

{% block content_body %}
    <div class="section intro">
        <h1>In 2011, you can help us legalize Cannabis in Washington State:</h1>

        <ul class="checklist">
            <li>End penalties for adult use of Cannabis.</li>
            <li>Create opportunities for green jobs.</li>
            <li>Make room for sensible regulation of Cannabis.</li>
        </ul>
    </div>
{% endblock %}

{% block sidebar_sections %}
{% endblock %}
