<div class="grid_6 prefix_3 suffix_3">
    <div id="underconstruction">
        <p>
            This site is not yet live.  Our official site is
            <a href="http://sensiblewashington.org/">sensiblewashington.org</a>.
            There you can join the cause, catch up on the latest news, make a
            donation, and more.
        </p>

        <p>
            Volunteers working on web content:  Please join the
            <a href="/teams/webcontent/">Web Content team</a> for more
            information.
        </p>
    </div>
</div>
