{% with action.actor as actor %}
    <span class="actor">
        {% if actor.get_absolute_url %}
            <a href="{{ actor.get_absolute_url }}">{{ actor.get_profile|default:actor }}</a>
        {% else %}
            <a href="{{ action.actor_url }}">{{ actor.get_profile|default:actor }}</a>
        {% endif %}
    </span>
{% endwith %}

<span class="verb">{{ action.verb }}</span>

{% with action.action_object as obj %}
    {% if obj %}
        <span class="action-object">
            {% if obj.get_absolute_url %}
                <a href="{{ obj.get_absolute_url }}">{% if obj.content_object %}{{ obj.content_object }}{% else %}{{ obj }}{% endif %}</a>
            {% else %}
                {{ obj }}
            {% endif %}
        </span>
    {% endif %}
{% endwith %}

{% with action.target as target %}
    <span class="timestamp">
        {{ action.timestamp|timesince }} ago
        {% if target and not group %}
            in
            <span class="target">
                {# @@@: Assumes targets are always teams. #}
                {% if target.slug %}
                    <a href="{{ target.get_absolute_url }}">{{ target }}</a>
                {% else %}
                    {{ target }}
                {% endif %}
            </span>
        {% endif %}
    </span>
{% endwith %}

{% if action.description %}
    <div class="description">{{ action.description }}</div>
{% endif %}
