{% extends "base_hq_12.html" %}

{% load breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% if user.is_authenticated %}
        {% breadcrumb_url_css "icon-link vcard-link" user.get_profile profile_detail username=user.username %}
    {% endif %}
{% endblock %}

{% block page_title %}{% block head_title %}{% endblock %}{% endblock %}

{% block page_content %}
    <div id="content" class="grid_12">
        {% include "site_messages.html" %}
        {% block body %}
        {% endblock %}
    </div>
{% endblock %}
