{% extends "account/base.html" %}

{% load breadcrumbs feature_tag %}
{% load i18n %}
{% load uni_form_tags %}
{% load account_tags %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb_url 'Sign In' account_login %}
{% endblock %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block body_class %}{{ block.super }} login{% endblock %}

{% block body %}
    {% include "socialaccount/snippets/login_extra.html" %}

    {% feature breadcrumbs %}{% disabled %}
        <h1>Sign In</h1>
    {% endfeature %}

    <div class="grid_6 prefix_3 suffix_3">
        <div id="largepagepanel">
            <h2>Returning Volunteers</h2>
            {% if not user.is_authenticated %}
                {% url sw_hq as signup_url %}
                {% url socialaccount_login as social_login_url %}
                <p>{% blocktrans %}No account? <a href="{{ signup_url }}">Sign up</a> for an new account.{% endblocktrans %}</p>
            {% endif %}

            {% include "account/login_form.html" %}

            {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
            {% else %}
                <h2>Use a Third-Party Service</h2>
                <p>Sign up or sign in by clicking below. Be sure to use the same service you used to sign up.</p>
                <ul class="socialaccount_providers">
                    {% include "socialaccount/snippets/provider_list.html" %}
                </ul>
            {% endif %}
        </div>
    </div>

{% endblock %}

