{% extends "account/base.html" %}

{% load breadcrumbs feature_tag %}
{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb_css 'icon-link door_in-link' 'Sign Out' %}
{% endblock %}

{% block body %}
    {% feature breadcrumbs %}{% disabled %}
        <h1>{% trans "Sign Out" %}</h1>
    {% endfeature %}

    <div class="grid_6 prefix_3 suffix_3">
        <div id="largepagepanel">
            <p>
                Thank you for using the Sensible Washington volunteer headquarters.
                Please visit again soon!
            </p>

            <p>
                Sign out by accident? <strong><a href="{% url account_login %}">Sign in again</a>.</strong>
            </p>
        </div>
    </div>

{% endblock %}
