{% extends "account/base.html" %}

{% load breadcrumbs feature_tag %}
{% load i18n %}
{% load uni_form_tags %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb 'Set Password' %}
{% endblock %}

{% block body %}
    {% feature breadcrumbs %}{% disabled %}
        <h1>{% trans "Set Password" %}</h1>
    {% endfeature %}

    <form method="POST" action="" class="password_set uniForm">
        {% csrf_token %}
        <fieldset class="inlineLabels">
            {{ password_set_form|as_uni_form }}
             <div class="buttonHolder">
                 <input type="submit" name="action" value="{% trans "Set Password" %}"/>
            </div>
        </fieldset>
    </form>
{% endblock %}
