{% extends "account/base.html" %}

{% load breadcrumbs feature_tag %}
{% load i18n %}
{% load account_tags %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb 'Password Reset' %}
    {% breadcrumb 'Email Sent' %}
{% endblock %}

{% block body %}
    {% feature breadcrumbs %}{% disabled %}
        <h1>{% trans "Password Reset" %}</h1>
    {% endfeature %}

    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% blocktrans %}We have sent you an email. If you do not receive it within a few minutes, contact us at <a href="mailto:{{ CONTACT_EMAIL }}">{{ CONTACT_EMAIL }}</a>.{% endblocktrans %}</p>
{% endblock %}
