{% extends "idios/base.html" %}

{% load breadcrumbs feature_tag %}
{% load i18n %}
{% load pagination_tags %}

{% block head_title %}{% trans "All Profiles" %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
{% endblock %}

{% block body %}

    {% if order == 'date' %}
        <h1><strong>All members</strong>, sorted by date joined</h1>
        <p><a href="?order=name">Sort by name</a></p>
    {% else %}
        <h1><strong>All members</strong>, sorted by name</h1>
        <p><a href="?order=date">Sort by date joined</a></p>
    {% endif %}

    <p>
        Reminder:

        <strong>Please respect others' privacy
        when using contact information presented here.</strong>

        Volunteers may be sharing certain contact information with you
        but not necessarily with all other users.

        When in doubt, contact a volunteer first before sharing their
        contact information with others.
    </p>

    {% autopaginate profiles 50 %}
    {% include "idios/profiles_table.html" %}
    {% paginate %}

{% endblock %}
