{% extends "idios/base.html" %}

{% load breadcrumbs %}
{% load feature_tag %}
{% load i18n %}
{% load relationship_tags %}
{% load sw_tags %}
{% load uni_form_tags %}
{% load zip_code_tags %}

{% block head_title %}{% trans "Profile for" %} {{ page_user.get_profile }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb_css 'icon-link vcard-link' page_user.get_profile './' %}
{% endblock %}

{% block content_cols %}8{% endblock %}

{% block body %}
    {% with page_user.get_profile as p %}
        <div class="vcard">
            {# TODO: needs fn (full name) class on some element that contains full name #}

            <h1><strong>{{ page_user.get_profile }}</strong>'s profile{% if is_me %} (your profile){% endif %}</h1>

            {% profile_privacy %}

            {% if is_me %}
                <ul>
                    <li><span class="icon-link pencil-link"><a href="{% url profile_edit %}"><span>{% trans "Edit profile" %}</span></a></span></li>
                    <li><span class="icon-link email_edit-link"><a href="{% url account_email %}"><span>{% trans "Manage email addresses" %}</span></a></span></li>
                    <li><span class="icon-link plugin_edit-link"><a href="{% url socialaccount_connections %}"><span>{% trans "Manage third-party logins" %}</span></a></span></li>
                    <li><span class="icon-link key-link"><a href="{% url account_change_password %}"><span>Change password</span></a></span></li>
                </ul>
            {% endif %}

            <div class="profile_info">
                <p>
                    * Asterisks indicate information
                    {% if not is_me %}shared with you, but{% endif %}
                    not shared with all volunteers.
                    {% if not is_me %}Please respect this user's privacy settings.{% endif %}
                </p>

                {% if can_view_name %}
                    {% if p.first_name or p.last_name %}
                        <p><b>{% trans "Full Name" %}</b>{% if name_restricted %}*{% endif %}: {{ p.first_name }} {{p.last_name}}</p>
                    {% endif %}
                {% endif %}

                {% if can_view_occupation and can_view_employer %}
                    {% if p.occupation and not p.employer %}
                        <p><b>Occupation</b>{% if occupation_restricted %}*{% endif %}: {{ p.occupation }}</p>
                    {% endif %}
                    {% if p.occupation and p.employer %}
                        <p><b>Occupation</b>{% if occupation_restricted or employer_restricted %}*{% endif %}: {{ p.occupation }} at {{ p.employer }}</p>
                    {% endif %}
                    {% if not p.occupation and p.employer %}
                        <p><b>Employer</b>{% if employer_restricted %}*{% endif %}: {{ p.employer }}</p>
                    {% endif %}
                {% else %}
                    {% if can_view_occupation and p.occupation %}
                        <p><b>Occupation</b>{% if occupation_restricted %}*{% endif %}: {{ p.occupation }}</p>
                    {% endif %}
                    {% if can_view_employer and p.employer %}
                        <p><b>Employer</b>{% if employer_restricted %}*{% endif %}: {{ p.employer }}</p>
                    {% endif %}
                {% endif %}

                {% if can_view_zip_code and p.zip_code %}
                    <p><b>{% trans "ZIP Code" %}</b>{% if zip_code_restricted %}*{% endif %}:
                        {{ p.zip_code }}
                        {% zip_code_object p.zip_code as zip_code_obj %}
                        {% if zip_code_obj %}
                            ({{ zip_code_obj.city|title }}, {{ zip_code_obj.state }})
                        {% endif %}
                    </p>
                {% endif %}

                {% if can_view_mailing_address and p.mailing_address %}
                    <p><b>{% trans "Mailing Address" %}</b>{% if mailing_address_restricted %}*{% endif %}:<br /><pre>{{ p.mailing_address }}</pre></p>
                {% endif %}

                {% if can_view_phone_number and p.phone_number %}
                    <p><b>{% trans "Phone Number" %}</b>{% if phone_number_restricted %}*{% endif %}: {{ p.phone_number }}</p>
                {% endif %}

                {% if can_view_email %}
                    <p><b>{% trans "Email Addresses" %}</b>{% if email_restricted %}*{% endif %}:
                        {% for emailaddress in p.user.emailaddress_set.all %}
                            <a href="mailto:{{ emailaddress.email }}">{{ emailaddress.email }}</a>{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    </p>
                {% endif %}

                {% if can_view_messaging %}
                    {% if p.yahoo_messenger %}
                        <p><b>{% trans "Yahoo! Messenger" %}</b>{% if messaging_restricted %}*{% endif %}: <a href="ymsgr:sendIM?{{ p.yahoo_messenger }}">{{ p.yahoo_messenger }}</a></p>
                    {% endif %}

                    {% if p.aim %}
                        <p><b>{% trans "AIM" %}</b>{% if messaging_restricted %}*{% endif %}: <a href="aim:goim?screenname={{ p.aim }}">{{ p.aim }}</a></p>
                    {% endif %}

                    {% if p.msn_messenger %}
                        <p><b>{% trans "MSN Messenger" %}</b>{% if messaging_restricted %}*{% endif %}: <a href="msnim:chat?contact={{ p.msn_messenger }}">{{ p.msn_messenger }}</a></p>
                    {% endif %}

                    {% if p.skype %}
                        <p><b>{% trans "Skype" %}</b>{% if messaging_restricted %}*{% endif %}: <a href="skype:{{ p.skype }}">{{ p.skype }}</a></p>
                    {% endif %}
                {% endif %}

                {% if can_view_preferred_contact_methods and p.preferred_contact_methods %}
                    <p><b>{% trans "Preferred Contact Methods" %}</b>{% if preferred_contact_methods_restricted %}*{% endif %}: {{ p.preferred_contact_methods }}</p>
                {% endif %}

                {% if can_view_bio and p.bio %}
                    <p><b>{% trans "Bio" %}</b>{% if bio_restricted %}*{% endif %}: {{ p.bio|linebreaks }}</p>
                {% endif %}
            </div>
        </div>
    {% endwith %}
{% endblock %}

{% block sidebar %}
    {% with page_user.get_profile as p %}
        <div id="sidebar" class="grid_4">
            {% feature friends %}
                {% with page_user.relationships.friends as friends %}
                {% with page_user.relationships.following as following %}
                {% with page_user.relationships.followers as followers %}
                    {% if friends or following or followers or not is_me %}
                        <div class="section friends">
                            <h1>{% trans "Friends" %}</h1>

                            {% if not is_me %}
                                <div class="follow-status">
                                    {% ifrelationship user page_user "friends" %}
                                        {% trans "You are friends with" %} {{ p }}.
                                        <form action="{{ page_user|remove_relationship_url:'following' }}" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="next" value="{% url profile_detail username=page_user.username %}">
                                            <input type="submit" value="{% trans 'Stop following' %}">
                                        </form>
                                    {% else %}
                                        {% ifrelationship user page_user "following" %}
                                            {% trans "You follow" %} {{ p }}.
                                            <form action="{{ page_user|remove_relationship_url:'following' }}" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="next" value="{% url profile_detail username=page_user.username %}">
                                                <input type="submit" value="{% trans 'Stop following' %}">
                                            </form>
                                        {% else %}
                                            {% ifrelationship user page_user "followers" %}
                                                {{ p }} {% trans "follows you" %}.
                                            {% endifrelationship %}
                                            <form action="{{ page_user|add_relationship_url:'following' }}" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="next" value="{% url profile_detail username=page_user.username %}">
                                                <input type="submit" value="{% trans 'Follow' %}">
                                            </form>
                                        {% endifrelationship %}
                                    {% endifrelationship %}
                                </div>
                            {% endif %}

                            {% if friends %}
                                <h2>{% spaceless %}
                                    {% if is_me %}
                                        {% trans "Your mutual friends" %}
                                    {% else %}
                                        {% trans "Mutual friends" %}
                                    {% endif %}
                                {% endspaceless %}</h2>

                                <ul>
                                    {% for other_user in friends %}
                                        <li><a href="{% url profile_detail username=other_user.username %}">{{ other_user.get_profile }}</a></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}

                            {% if following %}
                                <h2>{% spaceless %}
                                    {% if is_me %}
                                        {% trans "People you are following" %}
                                    {% else %}
                                        {% trans "Following these people" %}
                                    {% endif %}
                                {% endspaceless %}</h2>

                                <ul>
                                    {% for other_user in following %}
                                        <li><a href="{% url profile_detail username=other_user.username %}">{{ other_user.get_profile }}</a></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}

                            {% if followers %}
                                <h2>{% spaceless %}
                                    {% if is_me %}
                                        {% trans "People following you" %}
                                    {% else %}
                                        {% trans "Followed by these people" %}
                                    {% endif %}
                                {% endspaceless %}</h2>

                                <ul>
                                    {% for other_user in followers %}
                                        <li><a href="{% url profile_detail username=other_user.username %}">{{ other_user.get_profile }}</a></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endwith %}
                {% endwith %}
                {% endwith %}
            {% endfeature %}

            <div class="section">
                <h1>Team memberships</h1>

                <p>This volunteer is a member of the following teams:</p>

                <ul>
                    {% for membership in profile.user.member_set.all %}
                        <li>
                            <a href="{{ membership.team.get_absolute_url }}">{{ membership.team }}</a>
                            {% if membership.is_coordinator %}
                                <span class="coordinator">(coordinator)</span>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endwith %}
{% endblock %}
