{% extends "idios/base.html" %}

{% load breadcrumbs feature_tag %}
{% load i18n %}

{% block head_title %}{% trans "Create Profile" %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb 'Create Profile' %}
{% endblock %}

{% block body %}
    {% feature breadcrumbs %}{% disabled %}
        <h1>{% trans "Create Profile" %}</h1>
    {% endfeature %}

    <form class="uniForm" method="POST" action="{% url profile_create %}">
        {% include "idios/profile_form_contents.html" %}
    </form>
{% endblock %}
