{% extends "idios/base.html" %}

{% load breadcrumbs feature_tag %}
{% load i18n %}
{% load wakacms_tags %}

{% block head_title %}{% trans "Edit Your Profile" %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb_url_css 'icon-link vcard-link' user.get_profile profile_detail username=user.username %}
    {% breadcrumb_css 'icon-link pencil-link' 'Edit' %}
{% endblock %}

{% block body %}
    <div>
        {% feature breadcrumbs %}{% disabled %}
            <h1>{% trans "Edit Your Profile" %}</h1>
        {% endfeature %}

        {% wikipagesnippet EditProfilePreamble latest %}

        <div class="grid_8 suffix_4">
            <a name="edit"></a>
            {% include "idios/profile_form.html" %}
        </div>
    </div>
{% endblock %}
