{% extends "base_12.html" %}

{% load breadcrumbs feature_tag %}

{% block page_title %}Page Not Found{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb_url 'Home' pages-root %}
    {% breadcrumb 'Page Not Found' %}
{% endblock %}

{% block page_content %}
    <div class="grid_6 prefix_3 suffix_3">
        <div id="largepagepanel">
            <p>
                We couldn't find the page you requested.
                Please use the links above to choose another destination.
            </p>
        </div>
    </div>
{% endblock %}
