{% extends "base_8_4.html" %}

{% load breadcrumbs feature_tag %}

{% block body_class %}{{ block.super }} hq{% endblock %}

{% block header_slogan %}Volunteer Headquarters{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb_url_css "icon-link sw-link" 'HQ' dashboard_index %}
{% endblock %}

{% block auth_bar_left %}
{% include "base/hq_auth_bar_left.html" %}
{% endblock %}

{% block site_sections %}
    {% include "menu/site_sections_volunteer.html" %}
{% endblock %}
