{% load cms_tags feature_tag %}
<!doctype html>
<html>
<head>
    <title>{% block page_title %}Welcome{% endblock %} - Sensible Washington</title>

    <link rel="icon" href="{{ STATIC_URL }}images/logos/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="{{ STATIC_URL }}images/logos/favicon.ico" type="image/x-icon">

    {# 960.gs #}
    <link href="{{ STATIC_URL }}css/reset.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/text.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/960.css" rel="stylesheet">

    {# Uni-form #}
    <link href="{{ STATIC_URL }}uni_form/uni-form-generic.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}uni_form/uni-form.css" rel="stylesheet">

    {# Base #}
    <!--[if !IE 6]><!-->
    <link href="{{ STATIC_URL }}css/base.css?{{ MEDIA_SERIAL_NUMBER }}" rel="stylesheet">
    <!--<![endif]-->

    <!--[if IE 7]>
        <link href="{{ STATIC_URL }}css/base-ie7.css?{{ MEDIA_SERIAL_NUMBER }}" rel="stylesheet">
    <![endif]-->

    {# http://forabeautifulweb.com/blog/about/universal_internet_explorer_6_css #}
    <!--[if lte IE 6]>
        <link rel="stylesheet" type="text/css" media="screen, projection" href="http://universal-ie6-css.googlecode.com/files/ie6.0.3.css" />
    <![endif]-->

    {% block css %}{% endblock %}

    {% include "base/js.html" %}

    {% block extrahead %}{% endblock %}
</head>
<body class="container_12 {% block body_class %}{% endblock %}">

<div id="user-bar"
{% if debug %}
    style="background-color:darkred;border-bottom-color:red"
{% endif %}
>
    <span class="left">{% spaceless %}
        {% block user_bar_left %}
            {% if user.is_authenticated %}
                <span class="icon-link bullet_yellow-link"><a href="/"><span>Public Website</span></a></span>
                <span class="icon-link bullet_go-link-hover"><a href="{% url dashboard_index %}"><span>Volunteer HQ</span></a></span>
            {% endif %}
        {% endblock %}
    {% endspaceless %}</span>
    <span class="right">{% spaceless %}
        {% if user.is_authenticated %}
            {% include "base/user_bar_signedin.html" %}
        {% else %}
            {% include "base/user_bar_signedout.html" %}
        {% endif %}
    {% endspaceless %}</span>
</div>

{% include "site_messages.html" %}

{% block header %}
<div class="header grid_12 alpha omega">
    <h1><a href="{% block logo_url %}/{% endblock %}">sensiblewashington.org</a></h1>
    <h2>{% block header_slogan %}Legalize Cannabis<br/>in 2011{% endblock %}</h2>
    <div id="site-search">
        <form action="/search/" method="get">
            <input name="q" type="search" id="search_q">
        </form>
    </div>
    <div id="follow-campaign">
        Follow the campaign:
        <ul>
            <li><a href="http://www.facebook.com/pages/Sensible-Washington/250965900741"><img src="{{ STATIC_URL }}images/social/facebook.png" height="32" width="32"></a></li>
            <li><a href="http://twitter.com/sensiblewash"><img src="{{ STATIC_URL }}images/social/twitter.png" height="32" width="32"></a></li>
{#            <li><a href="#"><img src="rss.png" height="32" width="32"></a></li>#}
        </ul>
    </div>
</div>
{% endblock %}

<div id="site-sections" class="grid_12 alpha omega">
    <ul>
        {% block site_sections %}
            {% include "menu/site_sections_visitor.html" %}
        {% endblock %}
    </ul>
</div>

<div id="breadcrumbs" class="grid_12 alpha omega">
    You are here:
    <ul>
        {% block breadcrumbs %}
        {% endblock %}
    </ul>
</div>

<div id="nags" class="grid_12">
    {% include "base/nags.html" %}
</div>

{% block page_content %}
{% endblock %}

<div class="clear">&nbsp;</div>

<div class="footer" class="clear grid_12 alpha omega">
    <span>Copyright &copy; 2010 Sensible Washington.</span>
    <span>Read our <a href="/privacy-policy/">privacy policy</a>.</span>
    {% if user.is_authenticated %}
        <span>Leave <a href="/teams/devops/wiki/FeatureRequests/">feedback</a>.</span>
    {% endif %}
</div>

{% block bodyscripts %}{% endblock %}

{# Clicky analytics #}
<a title="Real Time Web Analytics" href="http://getclicky.com/66349596"></a>
<noscript><p><img alt="Clicky" width="1" height="1" src="http://in.getclicky.com/66349596ns.gif" /></p></noscript>
{# /Clicky #}

</body>
</html>
