{% load breadcrumbs feature_tag %}
{% load group_tags %}

{% if group %}

    {% for parent in group.parents %}
        {% breadcrumb_url parent.name teams_team slug=parent.slug %}
    {% endfor %}
    {% breadcrumb_url group.name teams_team slug=group.slug %}
    {# @@@ How can we clean this up for groupurls? #}
    {# The following doesn't work. #}
    {# {% with groupurl wakawaka_index group as indexurl %} #}
    {#     {% breadcrumb 'Wiki' indexurl %} #}
    {# {% endwith %} #}
    <li><a href="{% groupurl wakawaka_index group %}">Pages</a></li>
{% else %}
    {% breadcrumb_url 'Legacy Pages' wakawaka_index %}
{% endif %}
