{% load breadcrumbs feature_tag %}
{% load group_tags %}

{% if group %}

    {% for parent in group.parents %}
        {% breadcrumb_url_css "icon-link group-link" parent.name teams_team_index slug=parent.slug %}
    {% endfor %}
    {% breadcrumb_url_css "icon-link group-link" group.name teams_team_index slug=group.slug %}

    {# @@@ How can we clean this up for groupurls? #}
    {# The following doesn't work. #}
    {# {% with groupurl wakawaka_index group as indexurl %} #}
    {#     {% breadcrumb 'Wiki' indexurl %} #}
    {# {% endwith %} #}
    <li><span class="icon-link folder-link"><a href="{% groupurl wakawaka_index group %}"><span>Pages</span></a></span></li>

{% else %}
    {% breadcrumb_url 'Legacy Pages' wakawaka_index %}
{% endif %}
