{% extends "base_hq_8_4.html" %}

{% load breadcrumbs feature_tag %}
{% load group_tags %}
{% load i18n %}

{# Insert 'title' from wiki templates into 'page_title' in base #}
{% block page_title %}{% block title %}{% endblock %}{% endblock %}

{% if group %}
    {% block body_class %}{{ block.super }} team-{{ group.slug }}{% endblock %}
{% endif %}

{% block breadcrumbs %}
    {{ block.super }}
    {% include "wakawaka/base_breadcrumbs.html" %}
{% endblock %}

{% block css %}
{{ block.super }}
<link href="{{ STATIC_URL }}css/wiki.css" rel="stylesheet">
{% endblock %}

{# Insert 'extrahead' from wiki templates into 'headscripts' in base #}
{% block headscripts %}{% block extrahead %}{% endblock %}{% endblock %}

{% block content_body %}
    {% block content %}
    {% endblock %}
{% endblock %}

{% block sidebar_sections %}
    {% include "sidebars/wikicommon.html" %}
{% endblock %}
