{% extends "wakawaka/base.html" %}

{% load breadcrumbs feature_tag %}
{% load group_tags %}
{% load i18n %}
{% load sw_tags %}
{% load wakawaka_tags %}

{% block extrahead %}
	{{ block.super }}

	{# Don't let search engines scan this old revision #}
	{% if rev.is_not_current %}
		<meta name="robots" content="noindex" />
	{% endif %}

	{# Add support for the Universal Edit Button #}
	{% if user|canchangewikipage:page %}
	    <link rel="edit" title="{%trans "Edit this page" %}" href="{% groupurl wakawaka_edit group slug=page.slug %}" />
	{% endif %}
{% endblock %}

{% block title %}
	{% blocktrans with page.slug as slug %}Changes for {{ slug  }}{% endblocktrans %}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb_css "icon-link page-link" page.slug '../' %}
    {% breadcrumb 'Changes between revisions' %}
{% endblock %}

{% block content %}
	<p>
	    The following changes occurred between revisions
	    <a href="{% groupurl wakawaka_page group slug=page.slug rev_id=rev_a.id %}">{{ rev_a.id }}</a>
	    and
	    <a href="{% groupurl wakawaka_page group slug=page.slug rev_id=rev_b.id %}">{{ rev_b.id }}</a>.
	</p>

	<pre class="changes">{{ diff }}</pre>
	{% include "wakawaka/revision_table.html" %}
{% endblock %}