{% extends "wakawaka/base_fullwidth.html" %}

{% load breadcrumbs feature_tag %}
{% load group_tags %}
{% load i18n %}
{% load sw_tags %}
{% load uni_form_tags %}

{% block extrahead %}
	{{ block.super }}

	{# Add support for the Universal Edit Button #}
	{% if user|canchangewikipage:page %}
	    <link rel="edit" title="{% trans "Edit this page" %}" href="{% groupurl wakawaka_edit group slug=page.slug %}" />
	{% endif %}
{% endblock %}

{% block title %}
    {% if page.is_initial %}
        {% blocktrans with page.slug as slug %}Add {{ slug  }}{% endblocktrans %}
    {% else %}
        {% blocktrans with page.slug as slug %}Edit {{ slug  }}{% endblocktrans %}
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb_css "icon-link page-link" page.slug "../" %}
    {% if page.is_initial %}
        {% breadcrumb_css "icon-link pencil-link" 'Add' %}
    {% else %}
        {% breadcrumb_css "icon-link pencil-link" 'Edit' %}
    {% endif %}
{% endblock %}

{% block content %}
	{% if rev.is_not_current %}
    	<p class="revert-warning">{% trans "You are editing an revision which is not the latest!" %}</p>
	{% endif %}

	{% if is_locked and have_lock %}
        <div class="grid_8 alpha">
        	<p class="lock-notice">{% trans "Edit the page below. If you change your mind click" %} <a href="?cancel_lock=true" {% if page.is_initial %}onclick="history.go(-1);return false;"{% endif %}>{% trans "Cancel" %}</a> {% trans "so others may edit the page." %}</p>

        	<form class="wakawaka_edit_form uniForm" method="POST" action="">
        	    {% csrf_token %}
        		{{ form|as_uni_form }}
        		<p>
                    <input type="submit" value="{% trans "Save changes" %}" />
                    {% trans "or" %} <a href="?cancel_lock=true" {% if page.is_initial %}onclick="history.go(-1);return false;"{% endif %}>{% trans "Cancel" %}</a>
        		</p>
        	</form>

        	<h2>{% trans "Revisions for this page" %}</h2>

        	{% include "wakawaka/revision_table.html" %}
        </div>
        <div class="grid_4 omega">
            {# creole cheatsheet #}
            <img style="float:right;" src="{{ MEDIA_URL }}wiki/creole_cheat_sheet.png" width="275" height="469" alt="Creole Cheat Sheet">
        </div>

	{% else %}
    	{% blocktrans with lock_timestamp|timesince as lock_timestamp %}The page is locked for {{ lock_owner }} since about {{ lock_timestamp }}.{% endblocktrans %}
    	{% if allowed_to_reset %}<a href="?reset_lock=true" title="Locked for another {{ lock_ttl|timeuntil }}">{% trans "Reset lock" %}</a>{% endif %}
    	<div class="page">
    		{% include "wakawaka/page_content.html" %}
    	</div>

    	<h2>{% trans "Revisions for this page" %}</h2>

    	{% include "wakawaka/revision_table.html" %}
	{% endif %}

{% endblock %}
