{% extends "wakawaka/base.html" %}

{% load attachments_tags %}
{% load breadcrumbs feature_tag %}
{% load comments %}
{% load group_tags %}
{% load i18n %}
{% load wakawaka_tags %}
{% load wakacms_tags %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb_css "icon-link page-link" page.slug "." %}
{% endblock %}


{% block extrahead %}
	{{ block.super }}

	{# Don't let search engines scan this old revision #}
	{% if rev.is_not_current %}
		<meta name="robots" content="noindex" />
	{% endif %}

	{# Add support for the Universal Edit Button #}
	{% if perms.wakawaka.change_wikipage %}
	<link rel="edit" title="{% trans "Edit this page" %}" href="{% groupurl wakawaka_edit group slug=page.slug %}" />
	{% endif %}
{% endblock %}

{% block title %}
	{{ page.slug }}
{% endblock %}

{% block content %}
    {% feature breadcrumbs %}{% disabled %}
	    <h1><a name="top" href="{% groupurl wakawaka_page group slug=page.slug %}">{{ page.slug }}</a></h1>
    {% endfeature %}

	{% if rev.is_not_current %}
	<p class="revert-warning">
		{% trans "You are viewing an older revision!" %}
		<a href="{% groupurl wakawaka_page group slug=page.slug %}">
		  {% trans "See the latest version" %}
		</a>
	</p>
	{% endif %}

	<div class="page">
        {% include "wakawaka/page_content.html" %}
	</div>

    <h2>Comments</h2>

    {% get_comment_count for rev.page as comment_count %}
    {% if comment_count %}
        {% render_comment_list for rev.page %}
    {% else %}
        <p>Be the first to comment on this page.</p>
    {% endif %}

    {% with rev.page.get_absolute_url as next %}
        {% render_comment_form for rev.page %}
    {% endwith %}

{% endblock %}

{% block sidebar_sections %}
    <div class="section">
        <h1>This Wiki Page</h1>

        <ul>
        	{% if perms.wakawaka.change_wikipage %}
        		<li><span class="icon-link pencil-link"><strong><a href="{% groupurl wakawaka_edit group slug=page.slug %}"><span>Edit this page</span></a></strong></span></li>
        	{% endif %}
            <li>Revision: {{ rev.id }}</li>
            <li>Last editor: <a href="{{ page.current.creator.get_absolute_url }}">{{ page.current.creator }}</a></li>
            <li>Last change: {{ rev.modified|date:_("DATETIME_FORMAT") }}</li>
            <li><a href="{% groupurl wakawaka_revision_list group slug=page.slug %}">This page's history</a></li>
        </ul>

    	{% spaceless %}
    	<div class="related">
    	    {% related_cms_pages %}
    	</div>
    	{% endspaceless %}
    </div>

    <div class="section">
        <h1>File Attachments</h1>

        {% get_attachments_for rev.page %}
        {% if attachments %}
            <ul class="attachments">
                {% for attachment in attachments %}
                    <li>
                        <a class="attachment" href="{{ attachment.attachment_file.url }}">{{ attachment.filename }}</a>
                        <span class="object-command">{% attachment_delete_link attachment %}</span>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        {% attachment_form rev.page %}
    </div>

    {% include "sidebars/wikicommon.html" %}
{% endblock %}
